---
import BaseLayout from '@/layouts/BaseLayout'
import TitlePage from '@/components/TitlePage'
import ListPosts from '@/components/ListPosts'
import ListCategories from '@/components/ListCategories'
import { getPostsByTag, getTags } from '@/utils'

export async function getStaticPaths() {
	const tags = await getTags()
	return tags.map((tag) => ({
		params: { tag }
	}))
}

const params = Astro.params
const tag = params.tag ?? ''
const posts = await getPostsByTag(tag)
---

<BaseLayout title={`Tag: #${tag}`}>
	<TitlePage title={`#${tag}`} />
	<ListCategories />
	{posts.length > 0 ? (
		<ListPosts posts={posts} />
	) : (
		<p class='text-center text-sm text-zinc-500'>No experiments have been tagged with #{tag} yet.</p>
	)}
</BaseLayout>
