---
import { slugify } from '@/utils/slugify';

interface Props {
  tags?: string[];
}

const { tags } = Astro.props;
const hasTags = Boolean(tags?.length);
---
{hasTags && (
  <ul class="flex flex-wrap gap-2 text-sm text-base-500">
    {tags!.map((tag) => (
      <li>
        <a href={`/tags/${slugify(tag)}`} class="rounded-full border border-base-200 px-3 py-1 hover:border-blue-400">
          #{tag}
        </a>
      </li>
    ))}
  </ul>
)}
